@charset 'UTF-8';

// @import 'settings';
@import 'foundation';

  @include foundation-global-styles;
  @include foundation-typography;
  @include foundation-button;
  @include foundation-callout;

// Dummy properties, to force element to be in the stylesheet
// Otherwise, RTE do not see it
p, div {
	&.text-center, &.text-left, &.text-right, &.text-justify { visibility: visible; }
}
a.button, a.tiny, a.small, a.large, a.expanded, a.disabled, a.hollow { visibility: visible; }
div.callout, div.small, div.large { visibility: visible; }
a, div {
	@each $name, $color in $foundation-colors {
        &.#{$name} { visibility: visible; }
    }
}